<!-- Home Section -->
<section class="row flex-column mx-3" id="home_section" class="">
    <!-- <img src="assets/img/icon/homeIcon.png" alt="" class=" mx-auto">
            <h5 class="mx-auto"><b>Course File Portal</b> by Enterpreneurship Cell, CSE Department, ABES Engineering
                College</h5> -->

    <div>
        <div class="sidebar  white w-25 m-0"> 
            <ul class="listNone text-light w-100 py-3" style="height: 90vh;">
                <li ><div class="d-flex sideListItem justify-content-between w-75 align-items-center px-2 br-2"><i class="fa fa-2x  text-dark fa-angle-right"></i><h3 class=" pt-1 pb-1" >Student Marks</h3></div></li>
                <li ><div class="d-flex sideListItem justify-content-between w-75 align-items-center px-2 br-2"><i class="fa fa-2x  text-dark fa-angle-right"></i><h3 class=" pt-1 pb-1" >Student Marks</h3></div></li>
                <li ><div class="d-flex sideListItem justify-content-between w-75 align-items-center px-2 br-2"><i class="fa fa-2x  text-dark fa-angle-right"></i><h3 class=" pt-1 pb-1" >Student Marks</h3></div></li>
                <li ><div class="d-flex sideListItem justify-content-between w-75 align-items-center px-2 br-2"><i class="fa fa-2x  text-dark fa-angle-right"></i><h3 class=" pt-1 pb-1" >Student Marks</h3></div></li>
                <li ><div class="d-flex sideListItem justify-content-between w-75 align-items-center px-2 br-2"><i class="fa fa-2x  text-dark fa-angle-right"></i><h3 class=" pt-1 pb-1" >Student Marks</h3></div></li>
            </ul>
        </div>
    </div>
  </section>