
    <nav id="sidebar" class="active">
      <h1><a href="#" class="logo"><img src="assets/img/logo/logo.png" width="60px"></a></h1>
      <ul class="list-unstyled components mb-5">
        <li class="">
          <a onclick="showhome_section()" href="#home"><span class="fa fa-home"></span> Home</a>
        </li>
        <li class="">
          <a onclick="showdashboard_section()" href="#dashboard"><span class="fa fa-dashboard"></span>
            Dashboard</a>
        </li>
        <li>
                    <a onclick="showprofile_section()" href="#profile"><span class="fa fa-user"></span> Profile</a>
                </li>
        <li>
          <a onclick="showfile_section()" href="#files"><span class="fa fa-file" id="fileViewIcon"></span>
            View Files</a>
        </li>
        <li>
          <a onclick="logoutwithprompt()" href="#logout"><span class="fa fa-sign-out"></span> Logout</a>
        </li>
      </ul>
      <div class="footer">
        <p>
          Copyright &copy; ABESEC<br>
          Designed by ECell CSE
        </p>
      </div>
    </nav>