<!-- View File Section -->
<section id="file_section" class="d-none">
    <h2 class="ml-4">All Files</h2>
    <div class="filesContainer ">
      <div class="filesRow" id="allFilesContainer">





      </div>
    </div>
  </section>